body{
    text-align: center;
}

/* Buttons */

button{
    padding: 10px 30px 10px 30px;
    border: none;
    color: #fff;
    background-color: red;
    cursor: pointer;
    display: inherit;
    margin: auto;
    width: 180px;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}

button#increment-btn {
    margin-bottom: 15px;
}

/* Paragraph */
p#save-el {
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Fonts */
h1, h2{
    font-family: 'Roboto Condensed', sans-serif;
}